<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<body>

<h1>Submit a Product</h1>
<form action="/api/products" method="post" id="formProduct">
    <div class="mb-3 mt-3">
      <label class="form-label">Title:</label>
      <input type="text" class="form-control"  placeholder="Enter product title" name="title" id="title">
    </div>
    <div class="mb-3">
      <label class="form-label">Price:</label>
      <input type="number" class="form-control" placeholder="Enter unitary price" name="price" id="price">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Photo Url:</label>
        <input type="url" class="form-control"  placeholder="Enter url" name="thumbnail" id="thumbnail">
    </div>

    <button type="submit" class="btn btn-primary">Submit Product</button>
  </form>

</body>

</html>